.itemsBox {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 15px 0 15px 15px;
	border-bottom: solid 1px var(--light-color);
	flex-grow: 1;
	color: var(--text-color);
}
.itemsBox:hover {
	box-shadow: rgba(98, 121, 167, 0.25) 0px 19px 38px,
		rgba(98, 121, 167, 0.22) 0px 15px 12px;
	transition: box-shadow 0.5s ease;
	border-bottom: none;
	border-left: none;
}
