.layout {
	display: flex;
	flex-direction: column;
}
.searchBlock {
	display: flex;
	justify-content: flex-end;
}
.columns {
	margin-top: 15px;
	display: flex;
	flex-direction: column;
	width: 100%;
	box-shadow: var(--items-shadow);
}
.columnHeader {
	display: flex;
	font-weight: bold;
	color: var(--text-color);
	border-bottom: var(--border-bottom-phb);
}
.header {
	flex: 1;
	padding: 10px;
	text-align: left;
}
.columnElem {
	display: flex;
	border-bottom: var(--input-border-bottom);
}
.columnCell {
	flex: 1;
	padding: 10px;
	// color: #4e4949;
	color: var(--text-color);
}
.columnCellNM {
	flex: 1;
	padding: 10px;
	//color: #4e4949;
	color: var(--text-color);
}
.columnCellNM:hover {
	font-weight: bold;
	text-shadow: var(--text-shadow);
	transition: box-shadow 0.5s ease;
}
.textCenter {
	padding-top: 20px;
	text-align: center;
	color: red;
}
p {
	color: #4e4343;
}
.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 25px;
	margin-top: 25px;
}
.pageButton {
	background-color: #f0f0f0;
	border: none;
	border-radius: 5px;
	padding: 7px;
	font-size: 14px;
	cursor: pointer;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
}
.pageButton:hover {
	background-color: #c8d2e6;
	color: #d7ff23;
}

.text {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	color: var(--text-color);
}
.title {
	margin: 0;
	padding-bottom: 5px;
	border-bottom: 1px solid #282828;
}
.textItem {
	display: flex;
	justify-content: space-between;
	gap: 15px;
}
