.layout {
    display: flex;
    justify-content: center;
    width: 1440px;
    align-items: center;
    // height: 86vh;
}
/* .news, .events, .other {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 1000px;
    margin-left: 300px;
}
 */

















































