.layout {
    display: flex;
    flex-flow: column;
    //position: absolute;
    min-height: 100vh;
  //  width: 100vw;
  
    main {
      flex: 1;
      flex-shrink: 0;
      padding: 20px 16px;
    }
  }
  