.layout {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: var(--background-color);
	color: var(--text-color);
	transition: background-color 0.3s ease, color 0.3s ease;
	transition: color 0.3s ease, color 0.3s ease;
}
.main {
	flex: 1;
	flex-shrink: 0;
	padding: 65px 0;
	width: 1200px;
}
