.layout {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
//position: absolute;
	min-height: 100vh;
	//  width: 100vw;
}
.main {
	flex: 1;
	flex-shrink: 0;
	padding-top: 80px;
	width: 1440px;
}
