.layout {
	margin-top: 10px;
	display: flex;
	max-width: 1200px;
}

.newsbox {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
}

.imageBox {
	display: flex;
	justify-content: center;
	width: 100%;
	overflow: hidden;
}
.items {
	position: relative; /* 1. Создаём контекст позиционирования */
	z-index: 0;
	display: flex;
	flex-direction: column;
	width: calc((100% - 150px) / 3);
	height: 350px;
	justify-content: flex-start;
	padding: 20px;
	color: var(--text-color);
	box-shadow: 3px 4px 12px rgba(0, 0, 0, 0.1);
	cursor: pointer;
}
.items::after {
	content: '';
	width: 50px;
	height: 390px;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(215, 255, 35, 0.7);
	transform: skew(-15deg, 0) translateX(160px);
	z-index: -1;
	opacity: 0;
	transition: opacity 0.8s ease;
}
.items:hover::after {
	opacity: 1;
}

.items:hover {
	background-color: rgba(98, 121, 167, 0.3);
	transition: background-color 0.8s ease;
	
}
.image {
	width: 75%;
	height: 150px;
	object-fit: cover;
	overflow: hidden;
}
.infobox {
	margin-top: 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.text {
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: center;
	align-items: center;
	gap: 5px;
	color: var(--text-color);
	font-size: 0.9rem;
}
.title {
	margin: 0;
	font-weight: normal;
	margin-bottom: 5px;
	font-size: 0.9rem;
	font-weight: bold;
}
.content {
	margin-top: 10px;
	font-size: 0.8rem;
	text-align: justify;
}
