.profile {
	display: flex;
	position: relative;
	align-items: center;
	cursor: pointer;
	-webkit-user-select: none;
	user-select: none;
	padding-right: 30px;
}
.profile:hover {
	color: #d7ff23;
}

.user {
	padding: 0 15px;
	width: 200px;
	text-align: right;
	color: var(--text-color);
	font-weight: 300;
}
.user:hover {
	color: #d7ff23;
	text-shadow: var(--text-shadow);
}
.titleBox {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
	border-bottom: 1px solid var(--light-color);
	padding-bottom: 10px;
	color: var(--text-color);
}
.titleImage {
	
	img {
		width: 120px;
		height: 130px;
		overflow: hidden;
	}
}
.title {
	margin: 0;
}
.userInfo {
	color: var(--text-color);
	margin: 0;
	display: flex;
	justify-content: space-between;
	gap: 10px;
	padding-bottom: 10px;
}
.userPhoto {
	img {
		height: 36px;
		width: 36px;
		border-radius: 50%;
	}
}
.alert {
	color: red;
	font-weight: 500;
}
