.layout {
    margin-top: 15px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    
    // height: 86vh;
}
//.title {
//   padding: 10px 0 10px 0;
//}
.items {
    display: flex;
    flex-flow: column;
    gap: 10px;
    width: 100%;
    padding: 15px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}














































