.profile {
	display: flex;
	position: relative;
	align-items: center;
	cursor: pointer;
	-webkit-user-select: none;
	user-select: none;
	padding-right: 30px;

	.chevron {
		&.up > svg {
			transform: scaleY(-1);
		}
	}
	
	.menu {
		position: fixed;
		top: 82px;
		right: 16px;
		min-width: 120px;
		background-color: #c8d2e6;
		color: #000000;
		border-radius: 4px;
		padding: 8px 12px;
	}
}
.profile:hover {
	color: #d7ff23;
}
.menuItems {
	display: flex;
	flex-direction: column;
	gap: 10px;
	.item:hover {
		color: #d7ff23;
	}
}
.user {
	padding: 0 15px;
	width: 200px;
	text-align: right;
	color: var(--text-color);
	font-weight: 300;
}
.user:hover {
	color: #d7ff23;
}
.title {
  color: #474747
}
.userInfo {
  color: #6c6c6c
}
.alert {
	color: red;
	font-weight: 500;
}
