.inputbox {
	position: relative;
	display: flex;
    
	.input {
		display: flex;
		flex-grow: 1;
		height: 30px;
		width: 350px;
		border: none;
		outline: none;
		padding: 10px;
		min-width: 0;
		background-color: var(--input-bgcolor);
		/* border-left: var(--input-border);
		border-top: var(--input-border);
		border-right: var(--input-border); */
		// border-bottom: var( --input-border-bottom);
		//font-family: 'Graphik', Arial, Helvetica, sans-serif;
		font-size: 0.9rem;
		color: var(--input-color);
	}
	/* .input:focus {
		border-bottom:var(--input-border-focus);
		
	} */
	/* .input:not(:focus) {
		border-bottom: none;
		box-shadow: none;
	} */
}
.clearButton {
    position: absolute;
    background: none;
    border: none;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 16px;
    color: #999;
    &:hover {
        color: rgb(98, 121, 167);
    }
}