.layout {
 display: flex;
 justify-content: space-around;
 margin-top: 75px;  
 gap: 15px;
}
.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
    padding: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1)
    
}
h1 {
    margin: 0;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.buttons {
    display: flex;
    gap: 30px;
}