@import './styles/fonts.css';
@import './styles/variables.css';
@import './styles/theme-dark.css';

body {
	margin: 0;
	font-family: 'Graphik', Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

html, body {
  scrollbar-width: none;       
  -ms-overflow-style: none;    
}