.layout {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}
.itemBox {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	padding: 10px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.image {
	width: 100px;
}
.text {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-left: 15px;
	font-size: 12px;
}
.title {
	font-size: 14px;
	margin: 0;
	font-weight: 500;
}