.forminput {
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-x: auto;
   white-space: nowrap;
}
.buttons {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}


